@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --general-bg: #0e0e0e;
  --blue-nokia: #304068;
  --blue-nokia-shadow: #233651;
  --blue-nokia-dark: #283b5b;
  --gray: #DDDDDD;
  --screen: #97CF00;
  --duck1L: url('./assets/duckL.svg');
  --duck1R: url('./assets/duckR.svg');
  --duck2L: url('./assets/duck2L.svg');
  --duck2R: url('./assets/duck2R.svg');
  --duck3L: url('./assets/duck3L.svg');
  --duck3R: url('./assets/duck3R.svg');
  --duck4L: url('./assets/duck4L.svg');
  --duck4R: url('./assets/duck4R.svg');
  --duck5L: url('./assets/duck5L.svg');
  --duck5R: url('./assets/duck5R.svg');
}

body {
  margin: 0;
  background: #b0bec5;
  font-family: 'Aldrich';
  color: #0E0E0EB3;
}

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  .frame {
    width: max-content;
    height: 95dvh;
    max-height: 50rem;
    box-sizing: border-box;
    background: var(--blue-nokia);
    padding: 1rem;
    border-radius: 16% 16% 14% 14% / 31% 31% 54% 54%;
    box-shadow: 0 0 2rem var(--blue-nokia-shadow) inset, 0 0 1rem var(--general-bg);
    .top {
      height: 30rem;
      padding: 1rem 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 25% 25% 60% 60% / 40% 40% 50% 50%;
      box-shadow: 0 0.5rem 0 var(--gray) inset, -0.5rem -1rem 0 var(--gray) inset, 0.5rem -1rem 0 var(--gray) inset;
      box-sizing: border-box;
      overflow: hidden;
      .speaker {
        display: flex;
        flex-direction: column;
        background: var(--blue-nokia-dark);
        border-radius: 50%;
        padding: 0.25rem 0;
        .hole {
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 50%;
          margin: 0.25rem;
          background: #0E0E0EB3;
        }
      }
      .logo {
        padding: 0.5rem;
        margin: 0.5rem 0;
        background: var(--blue-nokia-shadow);
        color: var(--gray);
      }
      .screen {
        width: 350px;
        height: 250px;
        background: var(--screen);
        box-sizing: border-box;
        border-radius: 10% / 40%;
        box-shadow: 0 0 1rem #0E0E0EB3 inset;
        overflow: hidden;
        .home, .difficulty, .game, .game-over {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &.hidden {
            display: none;
          }
        }
        .home {
          #game-name {
            height: 5rem;
          }
          #game-img {
            height: 4rem;
          }
        }
        .difficulty {
          #game-name {
            height: 4rem;
          }
          .difficulty-item {
            margin: 0.25rem 0;
            &.selected::before {
              content: "\2192";
              margin-right: 0.5rem;
            }
          }
        }
        .game {
          width: 90%;
          border: 1px solid #0E0E0EB3;
          margin: 0 auto;
          .game-details {
            box-sizing: border-box;
            width: 100%;
            font-size: 0.75rem;
            font-weight: 500;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #0E0E0EB3;
          }
          .play-board {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: grid;
            grid-template: repeat(20, 1fr) / repeat(30, 1fr);

            .duck {
              background: url('./assets/duck1L.svg') no-repeat center center/contain;
            }

            .food {
              background: url('./assets/hongo.svg') no-repeat center center/contain;
            }
          }
        }
      }
      .oval {
        width: 100%;
        height: 4rem;
        border-radius: 50%;
        background: var(--gray);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 0.25rem;
        box-sizing: border-box;
        .key {
          width: 10rem;
          height: 3rem;
          border-radius: 50% 50% 50% 50% / 30% 30% 50% 50%;
          border: 1px solid #0E0E0E40;
          box-shadow: 0 0.25rem 0.25rem #0E0E0EB3;
          background: var(--gray);
          padding: 0.5rem;
          box-sizing: border-box;
          cursor: pointer;
          #enter-symbol {
            width: 100%;
            height: 60%;
            background: #0d47a1b3;
            box-sizing: border-box;
            border-radius: 50% 50% 50% 50% / 30% 30% 50% 50%;
          }
        }
      }
    }
    .sound-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      margin-top: -2rem;
      padding: 0 2rem;
      #sound-on, #sound-off {
        background: var(--gray);
        border: 1px solid #0E0E0E40;
        box-shadow: 0 0.25rem 0.25rem #0E0E0EB3;
        &>img {
          width: 1.25rem;
        }
      }
      #sound-on {
        border-radius: 33% 67% 43% 36% / 58% 72% 28% 42%;
      }
      #sound-off {
        border-radius: 67% 33% 36% 43% / 72% 58% 42% 28%;
      }
    }
    .bottom {
      height: auto;
      width: 100%;
      padding: 2.5rem 1.5rem;
      box-sizing: border-box;
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .key {
          padding: 0.5rem;
          font-size: 2rem;
          font-weight: bold;
          width: 4rem;
          height: 4rem;
          border: 1px solid #0E0E0E40;
          background: var(--gray);
          border-radius: 16% 16% 14% 14% / 31% 31% 54% 54%;
          box-shadow: 0 0.25rem 0.25rem var(--blue-nokia-shadow);
          cursor: pointer;
        }
        .left-right {
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin: 1rem 0
        }
      }
    }
  }
}

@media screen and (max-width: 28rem) {
  .container{
    .frame {
      .bottom {
        padding: 1.5rem;
        .buttons {
          .key {
            font-size: 1.25rem;
            width: 2.75rem;
            height: 2.75rem;
          }
        }
      }
    }
  }
}
